button {
	border-radius: 20px;
	background-color: rgba(255, 228, 225, 1);
}

button:hover {
	opacity: 0.5;
}

body {
	background-image: url(IMG_4404.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img {
	opacity: 0.5
}

video {
	position: center;
	margin-top: 3%
}